# Can be relative or absolute path
CLIENT_PATH=otclient
UPLOAD_CONCURRENCY=5
R2_CDN_URL=cdn-url
R2_BUCKET=bucket-name
R2_ACCESS_KEY_ID=your-access-key-id
R2_SECRET_ACCESS_KEY=your-secret-key
R2_REGION=auto
S3_ENDPOINT=r2-cf-endpoint